body {
  color: #61dafb !important;
  background-color: #282c34 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60vmin;
  pointer-events: none;
  animation: App-logo-spin alternate-reverse 20s
    cubic-bezier(0.33, 1.51, 0.99, -0.32);
}

.App-lost-logo {
  margin: 100px;
  height: 60vmin;
  pointer-events: none;
  animation: shakeTheRoom 2s alternate-reverse
    cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shakeTheRoom {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.App-logo-copy {
  height: 60vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 9vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

a {
  color: #61dafb !important;
}

.fix-nav-links {
  display: flex !important;
}

.ico-nav {
  display: block !important;
  font-size: 24px !important;
  margin-right: 5px !important;
}

.pushed- {
  margin: 100px 0px 0px 0px;
}

.rinwrapper {
  position: relative;
  height: 100%;
  padding: 0;
}

.rincopy,
.rinlogo {
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.hr-color-up {
  border-top: 1px solid #61dafb !important;
}

.rin-aboutme {
  text-align: justify;
  padding: 0px 0px 0px 320px;
}

.rin-aboutcard {
  margin: 60px;
}

.ghost {
  height: 60vmin;
  pointer-events: none;
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.shadowFrame {
  width: 567px;
  margin-top: 15px;
}

.shadow {
  background-color: #00000038;
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
  border-radius: 60%;
}

.pushLil {
  margin-top: 35px;
}

ellipse {
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }

  50% {
    width: 60%;
    margin: 0 18%;
  }

  100% {
    width: 90%;
    margin: 0 5%;
  }
}

.grad {
  background-image: linear-gradient(to right, #147e42, #0d554a);
}

.rin-sys {
  display: flex;
  padding: 10px 0px 0px 40px;
}

.fixlikkleico {
  margin: 0px 15px 0px 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .rin-aboutcard {
    margin: 60px 0px 60px 0px;
  }

  .rin-aboutme {
    text-align: justify;
    padding: 0px 0px 0px 0px;
  }

  .rin-aboutimg {
    height: 230px;
  }

  .shadowFrame {
    width: 267px;
    margin-top: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) and (min-width: 400px) {
  .rin-aboutcard {
    margin: 60px 0px 60px 0px;
  }

  .rin-aboutme {
    text-align: justify;
    padding: 0px 0px 0px 0px;
  }

  .rin-aboutimg {
    height: 230px;
  }

  .shadowFrame {
    width: 267px;
    margin-top: 15px;
  }
}

.python {
  background: rgb(54, 109, 155);
  background: linear-gradient(
    90deg,
    rgba(54, 109, 155, 1) 54%,
    rgba(255, 209, 65, 1) 97%
  );
}

.javascript {
  background: rgb(247, 224, 24);
  background: linear-gradient(
    90deg,
    rgba(247, 224, 24, 1) 54%,
    rgba(66, 63, 63, 0.9668242296918768) 97%
  );
}

.typescript {
  background: rgb(45, 121, 199);
  background: linear-gradient(
    90deg,
    rgba(45, 121, 199, 1) 54%,
    rgba(66, 63, 63, 0.9668242296918768) 97%
  );
}

.go {
  background: rgb(47, 188, 176);
  background: linear-gradient(
    90deg,
    rgba(47, 188, 176, 1) 54%,
    rgba(66, 63, 63, 0.9668242296918768) 97%
  );
}
